@font-face {
	font-family: sans;
	font-style: normal;
	src: url("../fonts/IRANSansWeb(FaNum).eot");
	src: url("../fonts/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
		url("../fonts/IRANSansWeb(FaNum).woff") format("woff2"),
		url("../fonts/IRANSansWeb(FaNum).woff") format("woff"),
		url("../fonts/IRANSansWeb(FaNum).ttf") format("truetype");
	font-display:swap
}
@font-face {
	font-family: ismull;
	font-style: normal;
	src: url("../fonts/fontfamily/ismull.ttf");
	font-display:swap
}
@font-face {
	font-family: ismb;
	font-style: normal;
	src: url("../fonts/fontfamily/ismb.ttf");
	font-display:swap
}
$sans: "sans";
$ismull: "ismull";
$ismb: "ismb";