// color
$cr-one: #18a27b;
$cr-second: #364147;
$cr-third: #f54a4a;
$cr-fourth: #f4afae;

// filter
$fr-one: brightness(0) saturate(100%) invert(43%) sepia(99%) saturate(335%) hue-rotate(112deg) brightness(98%) contrast(96%);
$fr-second: brightness(0) saturate(100%) invert(20%) sepia(16%) saturate(647%) hue-rotate(157deg) brightness(93%) contrast(81%);
$fr-third: brightness(0) saturate(100%) invert(48%) sepia(42%) saturate(5031%) hue-rotate(337deg) brightness(112%) contrast(96%);
$fr-fourth: brightness(0) saturate(100%) invert(85%) sepia(51%) saturate(632%) hue-rotate(299deg) brightness(107%) contrast(92%);
